@page
@model DocumentService.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Book.Name)</h1>

@foreach (var item in Model.BookSegments)
{
    <div class="card" style="margin-bottom: 15px;">
        <div class="card-header" style="font-weight:bold;">
            @Html.Raw(item.Id + " " + item.Header)
            <a asp-page="../Segments/Edit" asp-route-id="@item.Id" class="float-right">Edit</a>
        </div>
        <div class="card-body">
            <p class="card-text">@Html.Raw(item.Content)</p>
        </div>
    </div>
}

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
