@page
@model DocumentService.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="card" style="height: 100%;border-radius:0px;">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist" style="margin: -13px 0 -12px -21px;">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#my-books" role="tab" aria-controls="home" aria-selected="true" style="border-radius:0px; padding:10px 20px; font-weight:bold;">MY BOOKS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#others-book" role="tab" aria-controls="profile" aria-selected="false" style="border-radius:0px; padding:10px 20px; font-weight:bold;">OTHER'S BOOK</a>
            </li>
        </ul>
        <div class="float-right" style="margin: -26px -12px -10px 0;">
            <a asp-page="Create" class="btn btn-success btn-sm">Add New Book by Selection</a>
            <a asp-page="CreateByUpload" class="btn btn-success btn-sm">Add New Book by Upload</a>
        </div>
    </div>
    <div class="card-body" style="overflow-y:scroll;">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="my-books" role="tabpanel">

                <div class="row">
                    @foreach (var item in Model.Book.Where(s => s.Owner == Globals.CURRENT_USER))
                    {
                        <div class="col-6">
                            <div class="card" style="height:400px;margin-bottom:30px;">
                                <div class="card-header" style="height:49px;"><b>@item.Name</b><span class="float-right">@item.Owner</span></div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Contents Preview
                                        <ul>
                                            @Html.Raw(string.Join("", item.BookSegments.Select(x => "<li>" + x.Header + "</li>")))
                                        </ul>
                                    </p>
                                </div>
                                <div class="card-footer" style="height:63px;">
                                    <div class="float-right">
                                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary" style="width:60px;">View</a>
                                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary" style="width:60px;">Edit</a>
                                        <form method="post" style="display:inline-block;">
                                            <input type="hidden" asp-for="@Model.idToDelete" value="@item.Id" />
                                            <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="others-book" role="tabpanel">
                <div class="row">
                    @foreach (var item in Model.Book.Where(s => s.Owner != Globals.CURRENT_USER))
                    {
                        <div class="col-6">
                            <div class="card" style="height:400px;margin-bottom:30px;">
                                <div class="card-header" style="height:49px;"><b>@item.Name</b><span class="float-right">@item.Owner</span></div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Contents Preview
                                        <ul>
                                            @Html.Raw(string.Join("", item.BookSegments.Select(x => "<li>" + x.Header + "</li>")))
                                        </ul>
                                    </p>
                                </div>
                                <div class="card-footer" style="height:63px;">
                                    <div class="float-right">
                                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary" style="width:60px;">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>