@page
@model DocumentService.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="row" style="padding: 15px 7px;">
    @foreach (var item in Model.Book)
    {
        <div class="card" style="margin: 0 7px 15px 7px;width:350px;height:500px;">
            <div class="card-header" style="height:49px;">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="card-body">
                <p class="card-text">
                    Contents Preview
                    <ul>
                        @Html.Raw(string.Join("", item.BookSegments.Select(x => "<li>" + x.Header + "</li>")))
                    </ul>
                </p>

            </div>
            <div class="card-footer" style="height:63px;">
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
            </div>
        </div>
    }
    <div class="card" style="margin: 0 7px 15px 7px;width:350px;height:500px;">
        <div class="card-header" style="height:49px;"></div>
        <div class="card-body">
            <a asp-page="Create" class="btn btn-primary">Add New Book</a>
        </div>
        <div class="card-footer" style="height:63px;">

        </div>
    </div>
</div>
