@page
@model DocumentService.Pages.Segments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card" style="height: 100%;border-radius:0px;">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist" style="margin: -13px 0 -12px -21px;">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#my-segments" role="tab" aria-controls="home" aria-selected="true" style="border-radius:0px; padding:10px 20px; font-weight:bold;">MY SEGMENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#others-segments" role="tab" aria-controls="profile" aria-selected="false" style="border-radius:0px; padding:10px 20px; font-weight:bold;">OTHER'S SEGMENTS</a>
            </li>
        </ul>
        <div class="float-right" style="margin: -26px -12px -10px 0;">
            <a asp-page="Create" class="btn btn-success btn-sm">Add New Segment</a>
        </div>
    </div>
    <div class="card-body" style="overflow-y:scroll;">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="my-segments" role="tabpanel">
                @foreach (var item in Model.Segment.Where(s=>s.Owner == Globals.CURRENT_USER))
                {
                <div class="card" style="margin-bottom: 15px;">
                    <div class="card-header" style="height:49px;"><b>@item.Header</b><span class="float-right">@item.Owner</span></div>
                    <div class="card-body">
                        <p class="card-text">@Html.Raw(item.Content)</p>
                    </div>
                    <div class="card-footer" style="height:63px;">
                        <div class="float-right">
                            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary" style="width:60px;">View</a>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary" style="width:60px;">Edit</a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" style="width:60px;">Delete</a>
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="tab-pane fade" id="others-segments" role="tabpanel">
                @foreach (var item in Model.Segment.Where(s => s.Owner != Globals.CURRENT_USER))
                {
                <div class="card" style="margin-bottom: 15px;">
                    <div class="card-header" style="height:49px;"><b>@item.Header</b><span class="float-right">@item.Owner</span></div>
                    <div class="card-body">
                        <p class="card-text">@Html.Raw(item.Content)</p>
                    </div>
                    <div class="card-footer" style="height:63px;">
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>